.cards {
    margin: 30px 60px;
}

.card {
    border-radius: 0 25px 0 25px;
}

.card h5 {
    margin-left: 0;
}

.btn-app-req {
    color: white;
    background-color: darkcyan;
    border-color: darkcyan;
}

.btn-app-req:hover {
    color: silver;
    background-color: darkcyan;
    border-color: darkcyan;
}

.res-req-image {
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
    background-size: cover;
    border-left: darkcyan 2px solid;
    min-height: 80vh;
}
