.medical-record-title {
    font-size: larger;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-weight: bold;
    padding-left: 1em;
    text-align: left;
}

h3{
    margin-top: 40px;
}

.form-group{
    margin-left: 20px;
}

.row{
    margin-bottom: 50px;
}

hr{
    margin-bottom: 30px;
}