.clinics-title {
    font-size: larger;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-weight: bold;
    padding-left: 1em;
    text-align: left;
}

.rtable {
    margin: 30px 100px 100px 100px;
    font-size: larger;
    text-align:center;
   
}


